@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<form method="post" action='@Url.Action("Search", "Home")' name="form">
    <input type="text" id="Q" name="Q" />

    <input type="button" id="btnPesquisar" value="Pesquisar" />

    <input type="button" id="btnFiltrar" value="Filtrar" />

    <div id="dvFiltro">
        <input type="text" id="Filter" name="Filter" />
    </div>
</form>

<div id="dvResultsCount">

</div>

<input type="button" id="cleanFilters" value="Limpar Filtros">

<div id="dvFacets">

</div>

<div id="results">

</div>
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/search.js"></script>
}